<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="stylesheets/general.css" rel="stylesheet" />
    <link href="stylesheets/navbar.css" rel="stylesheet" />
    
    <% if (locals.css) { %>
        <% for (let href of locals.css) { %>
            <link href="<%= href %>" rel="stylesheet" />
        <% } %>
    <% } %>

    <title><%= title %> | gauth</title> 
</head>
<body>
    
    <%- include('comps/navbar.ejs'); %>
    
    <div class="content">
        <%- include('pages/' + page); %>
    </div>

</body>
</html>