nav {
    background-color: rgb(32, 32, 32);
    display: flex;
    font-size: 24px;
    align-items: center;
}

nav a {
    color: rgb(200, 200, 200);
    text-decoration: none;
    margin: 10px 20px;
}

nav .bold {
    font-weight: bold;
    font-size: 133%;
}

nav img {
    --size: 32px;

    height: var(--size);
    width: var(--size);

    border-radius: 100%;
    float: right;
}