<nav>
    <a href="/" class="bold">gauth</a>
    
    <%# NOTE: i use "locals." here because it allows you to use undefined values. %>
    <%# Otherwise if authed is undefined (and we want to treat it as false), EJS %>
    <%# will tell us that it's undefined if you DONT use locals. %>
    <% if (locals.authed) { %>
        <img src="<%= picture %>"/>
        <a href="/signout">sign out</a>
    <% } %>
</nav> 